.MessagingBoard
    transition: all .3s cubic-bezier(.67,.01,0,.91)
    position: absolute
    width: 100%
    height: 100%
    top: 0px
    left: 100%
    z-index: 10
    background: #f5f5fc
    
    i
        opacity: .7
        cursor: pointer

        &:hover 
            opacity: 1

    .Header
        position: relative
        background: white
        display: flex
        flex-flow: row nowrap
        justify-content: space-around
        align-items: center
        padding: 10px 15px
        overflow: hidden
        border-radius: 0px
        box-shadow: 0px 0px 20px rgba(0,0,0,0.05)
        height: 70px
        
        .fa-chevron-left
           padding-left: 0px 
           margin: 0px

        span 
            font-size: 16px
            overflow: hidden
            white-space: nowrap
            text-overflow: ellipsis          



.MSGheader1
    position: relative
    display: flex
    flex-flow: row nowrap
    align-items: center
    width: 100%
    height: 100%
    overflow: hidden

    .PersonStatus 
        position: relative
        display: flex
        flex-flow: column nowrap
        width: 100%
        padding-left: 5px
        overflow: hidden 

        span 
            font-size: 16px
            overflow: hidden
            white-space: nowrap
            text-overflow: ellipsis

    time
        padding: 0px
        margin: 0px
        overflow: hidden
        text-align: start
        width: 110px
        font-weight: 450

    .msgPic
        position: relative
        margin: 0px 
        padding: 0px
        // height: 55px

        #status 
            left: 29px
            top: 32px

        img 
            width: 45px
            height: 45px
            background-size: cover
            background-position: center

.header2
    white-space: nowrap
    .fa-phone
        padding: 0px 20px
    i
        font-size: 22px

.msgDashboard
    position: relative
    width: 100%
    height: calc(100% - 122px)
    overflow: hidden
    overflow-y: scroll
    top: 0px
    margin: 0px
    -webkit-overflow-scrolling: touch
    touch-action: touch
    padding: 50px 15px

    label 
        font-size: 10px
        margin: -15px 0px 0px 15px
        opacity: .6
        font-weight: bold
        position: absolute
    
    time 
        font-size: 10px
        text-align: center
        margin: 0px


%messageStle
    transition: all .1s
    background: white
    padding: 10px
    border-radius: 20px
    text-align: start
    font-size: 15px
    display: inline-block
    max-width: 80%
    color: rgb(58, 66, 79)
    word-wrap: break-word
    cursor: pointer

%flexBox
    display: flex 
    flex-flow: column
    text-align: end

.replyMessage, .sentMessage
    @extend  %flexBox

    time 
        transition: all .1s
        width: 100%
        text-align: center
        opacity: 0
        margin: 5px 0px 0px 0px

    label
        position: absolute
        font-size: 10px
        width: 100%
        padding: 0px 
        margin: 0px
        left: 0px
        text-align: end
        margin: -15px -10px 
        font-weight: 500
        opacity: .5

    img 
        border-radius: 5px
        margin: 5px 0px
        width: auto
        height: auto
        max-width: 100%


.replyMessage
    text-align: start

    div div 
        @extend %messageStle
        
        &:hover 
            background: rgba(58, 66, 79,.2)

    label
        margin-left: 67px 
        text-align: start


.sentMessage
    
    label
        margin-left: -28px

    div div 
        position: relative
        @extend %messageStle
        background: rgb(107, 138, 244)
        color: white


        &:hover 
            background: rgba(63, 81, 181,.9)


        
#userIcon
    position: relative
    padding: 10px
    border-radius: 50%   
    top: 10px
    margin-right: 3px
