//-----------------// The place where a user types there message
.userTyping 
    position: absolute
    background: rgba(52, 58, 64,.95) 
    width: 100%
    padding: 2px 13px
    margin: 0px

.messageTools
    width: 100%
    display: flex
    flex-flow: row nowrap   
    align-items:  center
    font-size: 25px 
    color: rgba(0, 0, 0, 0.7)

    i 
        cursor: pointer
        color: white 


.InsertImage
    white-space: nowrap

    i 
        margin-right: 13px
        
.submitMessage
    margin-left: 13px

    i 
        color: rgb(107, 138, 244)

.TextArea
    position: relative
    width: 100%
    margin-right: 10px
    padding: 0px
    min-height: 40px
    margin: 0px
    margin-bottom: 3px

.MSGBox
    background: #f5f5fc
    width: 100%
    padding: 5px 10px
    font-size: 15px
    outline: none
    border-radius: 20px
    max-height: 142px
    overflow-y: scroll
    margin-top: 5px
    -webkit-overflow-scrolling: touch
    background: orange 

    img 
        position: relative
        border-radius: 2px
        width: auto
        height: auto
        width: 50%
        margin: 10px 100%
        margin-left: 0px


#emoji
    position: absolute
    top: calc(50% - 11px)
    left: calc(100% - 28px)
    color: rgb(52, 58, 64) 

// Placeholder text 


#placeHolder
    position: absolute
    font-size: 16px
    z-index: 1
    top: 10px
    left: 10px


