.Stories {
  position: relative;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  overflow-x: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.DailySnap {
  min-width: 100px;
  max-width: 100px;
  height: 150px;
  border-radius: 10px;
  border: 2px solid rgba(58, 66, 78, 0.2);
  padding: 10px;
  margin: 10px 8px;
  margin-top: 15px;
  font-size: 13px;
  color: #3a424e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.DailySnap label {
  margin-bottom: -2px;
}

.DailySnap:hover, .DailySnap:focus {
  border-color: #007bff;
}

.DailySnap i {
  padding: 0px;
  margin: 0px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #3a424e;
  color: white;
  padding: 5px 7px;
}

.DailySnap:first-child, .DailySnap:last-child {
  margin-left: 0px;
}

.DailySnap img {
  border-radius: 50%;
  padding: 2px;
  border: 2px solid #3a424e;
  width: 50px;
  height: 50px;
}
